h1 {
    text-align: center;
    border: 2px dashed red;
    display: block;
    color: goldenrod;
}

a:link,
a:visited {
    text-decoration: none;
    color: red;
    border: 2px solid black;
    display: block;
    width: 250px;
    background-color: burlywood;
    text-align: center;
    margin-bottom: 1px;
}

a:hover,
a:active {
    color: orange;
    background: silver;
}

article:nth-child(even) {
    color: yellow;
}

article:nth-child(2):hover {
    background: yellow;
    color: black;
    cursor: pointer;
}